*.c.swp
*/.idea
*/homework
*/screeny
*/lesson-files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

.DS_store
.idea

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
bin
