# IDE's
*.c.swp
*/.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
*/.DS_store
*/.idea
*/.gitignore.swp

# Local History for Visual Studio Code
*/.history/

# Built Visual Studio Code Extensions
*.vsix

# Local file structure
*/notes.txt
*/wyklad
*/homework
*/screeny
*/lesson-files
*/bin
*/archive


